html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
table {
  width: 100%;
}
th, td {
  padding: 12px;
  border-width: 0 0;
}
tr { 
  border: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(255,255,255,0.1);
}

.dropdownPerp {
  position: relative;
  display: inline-block;
}

.dropdownPerp-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
  background-color: rgba(54, 54, 58, 1);
}
.dropdownPerp:hover .dropdownPerp-content {
  display: block;
}

.intervalButtons {
  z-index: 2;
  position: relative;
}

.ant-slider.ant-slider-disabled .ant-slider-track  {
  background-color: #0FFD6A !important;
}
.ant-slider.ant-slider-disabled .ant-slider-handle::after {
  background-color: #0FFD6A;
  box-shadow: 0 0 0 2px #0FFD6A;
  width: 6px;
  height: 6px;
  inset-inline-start: 2px;
  inset-block-start: 2px;
}